:root {
    --main-color: #db4744;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 0.75em;
    margin-bottom: 1.25em;
    padding: 0.3em;
}

.button {
    float: left;
    text-align: center;
    border-bottom: solid rgba(0, 0, 0, 0) 5px;
    font-size: 1.6vw;
    padding: 0 1em;
}

.button:hover {
    border-bottom: solid var(--main-color) 5px;
}

.button a {
    color: black;
    text-decoration: none;
}

.topBanner {
    color: white;
    width: 100%;
    height: 40vh;
    text-align: center;
    padding-top: 30vh;
    font-size: 3em;
    overflow: hidden;
    background-image: url(img/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.topBanner span {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--main-color);
    /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */
}

.profile-block {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 80%;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: white;
}

.profile-block img {
    flex: 1 1 10%;
    margin: 0.5em auto 0;
    box-shadow: 10px 5px 20px black;
    max-width: 150px;
    max-height: 200px;
}

.profile1 {
    float: left;
    flex: 1 1 30%;
    margin: 0.5em 2em 0;
    line-height: 2em;
    font-weight: 700;
    font-size: 1.2em;
    word-wrap: break-word;
}

.profile1 span {
    color: var(--main-color);
}

.profile2 {
    float: left;
    flex: 2 1 60%;
    margin: 0.5em 2em 0;
    font-size: 1.2em;

}

.header {
    width: 100%;
    padding-left: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: white;
}

.tech {
    float: left;
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    width: 33%;
    border-right: black 2px dotted;
    background-color: white;
    padding-top: 1em;
}

.skills-block {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    background-color: white;
    word-wrap: break-word;
}

.hobby-header {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: white;
}

.hobby-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    height: 35em;
}

.item1 {
    grid-area: 1 / 1 / 2 / 4;
    background-image: url('img/playstation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 20%;
}

.item2 {
    grid-area: 1 / 4 / 2 / 6;
    background-image: url(img/bike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item3 {
    grid-area: 1 / 6 / 3 / 7;
    background-image: url('img/hiking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item4 {
    grid-area: 2 / 3 / 3 / 6;
    background-image: url('img/books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item5 {
    grid-area: 2 / 1 / 3 / 3;
    background-image: url('img/boardgame.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dane-kontaktowe {
    float: left;
    width: 33%;
    padding: 2em;
    background-color: var(--main-color);
    color: white;
}

@keyframes poczta {
    0% {color: black; left: 0%;}
    50% {color: white; rotate: 360deg; left: 100%;}
    100% {color: black; left: 0%;}
}

.animacja {
    position: relative;
    width: 20px;
    color: black;
    animation-name: poczta;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.kontakt-block {
    margin-top: 20%;
}

.fa {
    padding: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.wiadomosc {
    float: left;
    width: 40%;
    padding: 2em;
    background-color: white;
}

.wiadomosc h1 {
    margin-bottom: 2%;
}

.pole-formularza {
    width: 100%;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.pole-formularza:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 0.5em;
    background: linear-gradient(90deg, rgb(161, 161, 161) 16%, rgba(255, 255, 255, 1) 76%);
}

.profile-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.skills-container {
    padding-bottom: 3em;
}

.hobby-container {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 15%, rgba(161, 161, 161, 1) 50%, rgba(255, 255, 255, 1) 85%);
}

.kontakt-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    margin: 2em;
    color: lightslategray;
}

@media (max-width: 1000px) {
    .profile-block {
        flex-direction: column;
        width: 100%;
    }
    .profile-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .skills-block {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .skills-container {
        width: 100%;
    }
    .tech {
        border-bottom: black 2px dotted;
        border-right: none;
    }
    .tech:nth-of-type(3) {
        border-bottom: none;
    }
}

@media (max-width: 800px) {
    .kontakt-container {
        width: 100%;
    }
    .dane-kontaktowe {
        width: 100%;
    }
    .wiadomosc {
        width: 100%;
    }
}